<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>
<% if (locals.errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="approvalForm">
  <form method="post" class="wf">
    <p class="errors">Warning, rejected classifications will be deleted.</p>  
    <label>Classification <%- classificationList %></label>
    <label>Approved by: <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.account_firstname %>" readonly>
      <input type="text" name="account_lastname" id="account_lastname" required value="<%= locals.account_lastname %>" readonly></label>
    <button type="submit" formaction="/inv/classification-approval/approve">Approve</button>
    <button type="submit" formaction="/inv/classification-approval/reject">Reject</button>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>         
  </form>
</div>