<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="management-form">
    
    <form id="update_form" action="/inv/update" method="post" class="wf">
        <fieldset>
            <legend></legend>        
            <h4>All fields is required</h4>    
            <label class="management-label">Classification <%- classificationList %> </label>            
            <label class="management-label">Make<input type="text" name="inv_make" id="invMake" required pattern="[a-zA-Z0-9 ]+" value="<%= locals.inv_make %>"></label>
            <label class="management-label">Model<input type="text" name="inv_model" id="invModel" required pattern="[a-zA-Z0-9 ]+" value="<%= locals.inv_model %>"></label>
            <label class="management-label">Description<textarea name="inv_description" id="invDescription" rows="8" cols="50" required minlength="30" maxlength="300"><%= locals.inv_description %></textarea></label>            
            <label class="management-label">Image Path<input type="text" name="inv_image" id="invImage"  required pattern="[a-zA-Z0-9/_.-]+" value="<%= locals.inv_image || '/images/vehicles/no-image.png' %>"></label>
            <label class="management-label">Thumbnail Path<input type="text" name="inv_thumbnail" id="invThumbnail" required pattern="[a-zA-Z0-9/_.-]+" value="<%= locals.inv_thumbnail || '/images/vehicles/no-image.png' %>"></label>
            <label class="management-label">Price<input type="number" name="inv_price" id="invPrice" required pattern="^\d+(\.\d{1,2})?$" value="<%= locals.inv_price %>"></label>
            <label class="management-label">Year<input type="number" name="inv_year" id="invYear" required  pattern="\d{4}" minlength="4" maxlength="4" value="<%= locals.inv_year %>"></label>
            <label class="management-label">Miles<input type="number" name="inv_miles" id="invMiles" required pattern="[0-9]+" value="<%= locals.inv_miles %>"></label>
            <label class="management-label">Color<input type="text" name="inv_color" id="invColor" required pattern="[a-zA-Z0-9 ]+" value="<%= locals.inv_color %>"></label>
            <button type="submit" disabled>Update Vehicle</button>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>   
        </fieldset>       
    </form>
</div>

<script src="../../js/inv-update.js"></script>
